<section class="text-center about">
    <header class="page-header">
    <h1>Welcome to the Jungle!!!</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group"></span>
            <h2>Section 1</h2>
                <p>Welcome to Jungle, the wildest marketplace 
                   for all your evergreen, shrub, and tree needs! 
                   We're not your ordinary garden center 
                   - we're a digital oasis where green thumbs 
                   meet to buy, sell, and discover the botanical
                   wonders of the world. So, grab your machete
                   and get ready for an adventure through our
                   quirky kingdom of flora!</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group"></span>
            <h2>Section 2</h2>
                <p>At Jungle, we believe in the magic of plants. 
                   Whether you're a seasoned gardener or a budding 
                   enthusiast, our web app is designed to make your
                   green dreams come true. Picture yourself strolling 
                   through a virtual rainforest, where every click 
                   leads you to a treasure trove of botanical delights. 
                   Need a majestic oak to provide shade? Looking 
                   for a charming bonsai to bring serenity to your 
                   home? Or perhaps you're on the hunt for the rarest 
                   of all flora? Fear not, fellow explorer, because 
                   Jungle has got you covered!</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group"></span>
            <h2>Section 3</h2>
                <p>Our team of plant-loving enthusiasts is as passionate 
                   about foliage as you are. We're like a group of 
                   horticultural Indiana Joneses, scouring the corners 
                   of the world for the most awe-inspiring greenery 
                   to bring to your doorstep. From towering redwoods 
                   to petite succulents, we've assembled a collection 
                   that would make even Mother Nature proud. So, 
                   whether you're looking for a humble sapling or 
                   a magnificent ancient tree, Jungle is your ultimate destination.</p>
            </div>
    </div>
</section>
